<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
    <%= link_to "Add a Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-success"  %>
  </div>
</div>
<div class="container">
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %>
        <%= dose.ingredient.name %>
      </li>
    <% end %>
  </ul>
</div>
